*{margin:0; padding:0;}
body{background: #212121;}
ul.list{
  color: #fff;
  background-color: #0f0f0f;
  display: inline-block;
  width: auto;
  list-style-type: none;
  box-shadow: 0 0 10px 0 #000;
  margin-top: 10vh;
  
}
ul.list li{
    display: inline-block;
  padding: 15px 40px;
  berder-radius: 5px;
    background-color: #212121;
    border-bottom: 2px solid #0f0f0f;

  
}
